@using Vending_Machine.Models

@model Tuple<List<Item>, Item>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajax = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ItemInfo"
    };
}

@using (Ajax.BeginForm("OnSelectItem", "Item", ajax, new { id = "ItemForm" }))
{
    @Html.AntiForgeryToken();

    var selected = false;

    foreach (var item in Model.Item1)
    {
        if (Model.Item2 == item)
        {
            selected = true;
        }
        else
        {
            selected = false;
        }

        @Html.RadioButton("ItemNumer", item.ID, false) //selected, new { onchange = "$('#ItemForm').trigger('submit')"});
        @Html.Label(item.toString());
        <br />
    }
    //<input type="submit" id="DisplayDetails" value="Display item details" />
    <input type="submit" id="BuyItem" value="Buy Item" />
}
@using (Ajax.BeginForm("OnclickItem", "Denominations", ajax, new { id = "DenForm" }))
{
    @Html.AntiForgeryToken();

    List<Group_IT_VM.Models.Denominations> denominations = new List<Group_IT_VM.Models.Denominations>();
    denominations.Add(new Group_IT_VM.Models.Denominations(0, 0.5));
    denominations.Add(new Group_IT_VM.Models.Denominations(1, 1));
    denominations.Add(new Group_IT_VM.Models.Denominations(2, 2));
    denominations.Add(new Group_IT_VM.Models.Denominations(3, 5));

    var selected = false;

    foreach (var den in denominations)
    {

        @Html.RadioButton("DenomNumer", den.ID, false)
        @Html.Label(den.toString())
        <br />
    }
    <input type="submit" id="Load_Credits" value="Load Credits" />

}

<!--Add a partial View to load credits-->
@*<div>
        @Html.Partial("~/Views/VM/LoadCredits.cshtml")
    </div>*@

<!--Partial View to show Item Data-->
@*<div id="ItemInfo">
        @Html.Partial("~/Views/VM/Balance.cshtml")
    </div>*@